@import 'tailwindcss';

@theme {
  --font-display: "Satoshi", "sans-serif";
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);

  /* Base Colors */
  --color-default: oklch(0.95 0.02 264.46); 
  --color-absent: oklch(0.45 0.02 264.46);
  --color-present: oklch(0.65 0.15 85.87);
  --color-correct: oklch(0.55 0.15 142.68);
  --color-border: #4C4347;
  --color-border-focus: oklch(0.55 0.02 264.46);
  --color-text: oklch(0.15 0.02 264.46); 
  --color-text-contrast: oklch(0.99 0 0); 
  --color-bg-darker: #2d2828;
  --color-bg-lighter: #6b6363;
  --color-bg-base: #6e5c62;

}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--color-bg-base);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}


.wordle-letter-base {
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  user-select: none;
  transition: background-color 0.3s var(--ease-fluid), border-color 0.3s var(--ease-fluid), color 0.3s var(--ease-fluid);
}

.wordle-letter-default {
  /* background-color: var(--color-default); */
  background-color: var(--bg-base);
  color: var(--color-text--contrast);
  border-color: var(--color-border);
}

.wordle-letter-absent {
  background-color: var(--color-absent);
  color: var(--color-text-contrast);
  border-color: var(--color-absent);
}

.wordle-letter-present {
  background-color: var(--color-present);
  color: var(--color-text-contrast);
  border-color: var(--color-present);
}

.wordle-letter-correct {
  background-color: var(--color-correct);
  color: var(--color-text-contrast);
  border-color: var(--color-correct);
}

.wordle-letter-default:focus {
  border-bottom-width: 0.250em !important;
  border-bottom-color: var(--color-border) !important;
}

.bg-darker {
  background-color: var(--color-bg-darker)
}
.bg-base {
  background-color: var(--color-bg-base)
}
.bg-lighter {
  background-color: var(--color-bg-lighter)
}
.bg-transparent {
  background-color: 'transparent'
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
